<div class="container" style="background-color:rgb(9, 9, 48); color: white; border-radius: 1rem">
    <div class="row">
        <div class="col-3-lg">
            <img src="https://i.ytimg.com/vi/sX2DPLmkc6U/maxresdefault.jpg" alt="burgertime" width="650px">

        </div>
        <div class="col-3-lg">
            <h2 class="display-5">To Eat:</h2>

            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ol>

            <h2 class="display-5">Recently consumed:</h2>

            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-3-lg" style="padding-left: 10rem;">
            <h2 class="display-5">New Burger to try?</h2>
            <br>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <div class="form-group">

                    <label for="devoured">Had it before?</label>
                    <br>
                    <input type="radio" name="devoured" value="1"> Devoured earlier! <br>
                    <input type="radio" name="devoured" value="0"> Yet to Devour!
                </div>

                <a class="btn btn-primary btn-lg" href="#" role="button" type="submit">Add burger</a>
            </form>
        </div>
        <div class="col-3-lg"></div>
        <div class="col-3-lg">
            <img src="https://i.makeagif.com/media/8-21-2015/dMrqsM.gif" alt="videogame" style="padding-left: 10rem;">
        </div>
    </div>
</div>