<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <title>Eat Da Burger?</title>
</head>

<body>
    <img src="https://i.ytimg.com/vi/sX2DPLmkc6U/maxresdefault.jpg" alt="burgertime" width="700px">
    {{{ body }}}
    <img src="https://i.makeagif.com/media/8-21-2015/dMrqsM.gif" alt="videogame">
</body>

</html>